.Rproj.user
.Rhistory
.RData
create_datasets
vignettes/stat0002-ch1b-stochastic-simulation-vignette-no-rust.Rmd
doc
Meta
/doc/
/Meta/
install/results.tar.bz2
install/OLD_BUILDS
inst/examples/example.html
inst/examples/example.docx
